---
import { Image } from 'astro:assets';
---



<div class="w-full h-[10vh] flex justify-between items-center px-[10%]">
  <Image src="/images/icon.png" alt="" width="81.12" height="81.12"></Image>
  <div class=" items-center gap-[70px] md:flex hidden">
    <a href="/" class="text-white text-xl cursor-pointer">Home</a>
    <a href="/" class="text-white text-xl cursor-pointer">Demo</a>
    <a href="/install" class="text-white text-xl cursor-pointer">Install</a>
    <a href="https://github.com/zijunw04/uic-blackboard-extension" target="_blank" class="text-white text-xl cursor-pointer">Github</a>
    
  </div>
</div>