---
import { Image } from "astro:assets";
---


<div class="w-full h-[90vh] flex flex-col justify-center items-center gap-[32px]">
  <h1 class="text-white text-[80px] font-black leading-[100%]">Install Instruction</h1>
  <Image src="/images/firefoxext.png" alt="" width="821" height="378"></Image>
  <a href="https://addons.mozilla.org/en-US/firefox/addon/uic-blackboard-extension/" target="_blank" class="w-[618px] h-16 rounded-[11px] bg-white flex justify-center items-center cursor-pointer flex-row gap-2">
    <Image src="https://cdn4.iconfinder.com/data/icons/thin-touch-gestures-1/24/thin-1611_touch_press_button_click-512.png" alt="" width="30" height="30"></Image>
    <span class="text-black text-2xl font-black leading-[160%]">Currently only available on firefox</span>
    <Image src="https://cdn.icon-icons.com/icons2/2428/PNG/512/firefox_black_logo_icon_147133.png" alt="" width="30" height="30"></Image>
  </a>


</div>